@inherits LayoutComponentBase

<PrivacyDialog />
<Navigation />

<main class="main">
    @Body
</main>

<footer class="footer">
    <div>
        <div>
            <span>© HAMZI ALSHEIKH @DateTime.Today.Year. ALL RIGHTS RESERVED. <br /> ANY TRADEMARKS ARE PROPERTY OF THEIR RESPECTIVE OWNERS.</span>
            <span>VERSION: @GetType().Assembly.GetName().Version.ToString()</span>
            <a href="/Terms">Terms & Privacy Policy</a>
        </div>
        <span class="logo">HMZ</span>
    </div>
</footer>