@inherits LayoutComponentBase

<Navigation></Navigation>

<div class="side-controls">
    <div id="social-line">
        <a href="https://stackoverflow.com/users/6843077/hmz" target="_blank"><i class="lab la-stack-overflow"></i><div class="arrow_box">StackOverflow</div></a>
        <a href="https://github.com/hmz777" target="_blank"><i class="lab la-github"></i><div class="arrow_box">GitHub</div></a>
        <a href="https://www.linkedin.com/in/hamzialsheikh/" target="_blank"><i class="lab la-linkedin"></i><div class="arrow_box">LinkedIn</div></a>
        <a href="https://www.facebook.com/Hamzi.Alsheikh/" target="_blank"><i class="lab la-facebook"></i><div class="arrow_box">Facebook</div></a>
        <a href="https://www.instagram.com/hamzi_alsheikh/" target="_blank"><i class="lab la-instagram"></i><div class="arrow_box">Instagram</div></a>
        <a href="mailto:hamzi_alsheikh@hotmail.com" target="_blank"><i class="las la-envelope"></i><div class="arrow_box">Email</div></a>
    </div>
    <button type="button" id="go-up" onclick="window.scrollTo(0,0)"><i class="las la-chevron-up"></i></button>
</div>

<main class="main">
    @Body
</main>

<footer class="footer">
    <div>
        <div>
            <span>© HAMZI ALSHEIKH @DateTime.Today.Year. ALL RIGHTS RESERVED. <br /> ANY TRADEMARKS ARE PROPERTY OF THEIR RESPECTIVE OWNERS.</span>
            <span>VERSION: @GetType().Assembly.GetName().Version.ToString()</span>
            <a href="/Terms">Terms & Privacy Policy</a>
        </div>
        <span class="logo">HMZ</span>
    </div>
</footer>