<header class="Navigation">
    <nav class="nav">
        <NavLink href="" Match="NavLinkMatch.All"><span class="logo">HMZ</span></NavLink>
        <button type="button" class="nav-toggler @NavState" @onclick="ToggleSideNav">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    <div class="side-nav">
        <SideNav @ref="SideNav" IsHome="@IsHome" IsBlog="@IsBlog" HideSideNavCallback="ShowSideControls"></SideNav>
    </div>
</header>
<SideControls @ref="@SideControls" />

@code {

    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }

    private SideNav SideNav { get; set; }
    private SideControls SideControls { get; set; }
    private bool IsHome { get; set; } = true;
    private bool IsBlog { get; set; } = false;
    public string NavState { get; set; } = "";

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;

        _ = CheckIfHome();
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        SideNav.ChangeState(CheckIfHome());
        StateHasChanged();
    }

    public async Task ToggleSideNav()
    {
        if (string.IsNullOrEmpty(NavState))
        {
            ShowSideNav();
        }
        else
        {
            await SideNav.Hide();
        }
    }

    private void ShowSideNav()
    {
        SideNav.Show();
        HideSideControls();
        NavState = "nav-toggler--active";
        StateHasChanged();
    }

    private bool CheckIfHome()
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri);
        var segment = uriBuilder.Path.Split('/')[1];
        if (!string.IsNullOrWhiteSpace(segment))
        {
            IsHome = false;

            if (segment.Equals("blog", StringComparison.InvariantCultureIgnoreCase))
                IsBlog = true;
            else
                IsBlog = false;
        }
        else
        {
            IsHome = true;
        }

        return IsHome;
    }

    private void HideSideControls()
    {
        SideControls.Hide();
    }

    private void ShowSideControls()
    {
        NavState = "";
        SideControls.Show();
    }
}
