<div class="side-navigation @State">
    <div class="side-navigation-inner @State">
        <div class="top-buttons">
            <NavLink class="search" href="Search" ActiveClass="active" Match="NavLinkMatch.All"><i class="las la-search la-3x"></i></NavLink>
            <button type="button" class="nav-toggler" @onclick="Hide">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="content">
            <NavLink href="" Match="NavLinkMatch.All"><span class="logo">HMZ</span></NavLink>
            <ul>
                @if (IsHome)
                {
                    <li><button type="button" onclick="document.getElementById('Tech').scrollIntoView({behavior:'smooth'})">TECH & SKILLS</button></li>
                    <li><button type="button" onclick="document.getElementById('Work').scrollIntoView({behavior:'smooth'})">WORK</button></li>
                    <li><button type="button" onclick="document.getElementById('About').scrollIntoView({behavior:'smooth'})">ABOUT</button></li>
                    <li><button type="button" onclick="document.getElementById('Contact').scrollIntoView({behavior:'smooth'})">CONTACT</button></li>
                }
                <li><NavLink href="Blog" ActiveClass="active" Match="NavLinkMatch.All">BLOG</NavLink></li>
                @if (IsBlog)
                {
                    <li><NavLink href="Blog/Tags" ActiveClass="active" Match="NavLinkMatch.All">TAGS</NavLink></li>
                }
                <li><NavLink href="Site" ActiveClass="active" Match="NavLinkMatch.All">SITE</NavLink></li>
            </ul>
            <div class="social">
                <a href="https://stackoverflow.com/users/6843077/hmz" target="_blank"><i class="lab la-stack-overflow"></i></a>
                <a href="https://github.com/hmz777" target="_blank"><i class="lab la-github"></i></a>
                <a href="https://www.linkedin.com/in/hamzialsheikh/" target="_blank"><i class="lab la-linkedin"></i></a>
                <a href="https://www.facebook.com/Hamzi.Alsheikh/" target="_blank"><i class="lab la-facebook"></i></a>
                <a href="https://www.instagram.com/hamzi_alsheikh/" target="_blank"><i class="lab la-instagram"></i></a>
                <a href="mailto:hamzi_alsheikh@hotmail.com" target="_blank"><i class="las la-envelope"></i></a>
            </div>
            <span>© HAMZI ALSHEIKH 2020.<br />ALL RIGHTS RESERVED.</span>
        </div>
    </div>
</div>

@code {

    [Inject] private IJSRuntime JSRuntime { get; set; }

    [Parameter]
    public bool IsHome { get; set; }
    [Parameter]
    public bool IsBlog { get; set; }

    private string State { get; set; } = "slideToRight";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("BlazorHelpers.EmptyClicksHandler", DotNetObjectReference.Create(this));
        }
    }

    public void Show()
    {
        State = "slideFromRight";
        StateHasChanged();
    }

    [JSInvokable]
    public void Hide()
    {
        State = "slideToRight";
        StateHasChanged();
    }

    public void ChangeState(bool IsHome)
    {
        if (this.IsHome != IsHome)
        {
            this.IsHome = IsHome;
            StateHasChanged();
        }
    }

}
