.loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #05386B;
    padding: 3em;

    img {
        margin: auto;
    }
}

/*.main-back {
    @include breakpoint (min-width 801px) {
        background-image: url(/media/MainBackground.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}*/

.wide-wrapper {
    display: flex;
    width: 100%;
    padding: 2em 4em;

    &--jcc {
        justify-content: center;
    }

    &--row {
        flex-flow: row wrap;
    }

    &--column {
        flex-flow: column wrap;
    }
}

.content-block {
    display: flex;
    background: $color1;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 85%;
    margin: auto;
}

.grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 1em;

    @include breakpoint(max-width 1024px) {
        column-count: 2;
    }

    @include breakpoint(max-width 620px) {
        column-count: 1;
    }

    .grid-item {
        display: block;
        margin: 0 0 1em;
        padding: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-column-break-inside: avoid-column;
        page-break-inside: avoid;
        break-inside: avoid-column;
        border: $color1 solid 2px;
        background-color: $color3;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: transform 0.3s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
        position: relative;

        &:hover {
            transform: translateY(-.2em);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

            .status {
                animation: InfoFade .6s cubic-bezier(0.83, 0, 0.17, 1) forwards;
            }
        }

        .status {
            position: absolute;
            transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            background: $color1;
            color: white;
            font-size: 1.2em;
            padding: 3em 1em .5em;

            i {
                color: $color3;
            }

            .links {
                i {
                    font-size: 1.4em;
                }

                div {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    margin-top: .8em;
                }
            }

            .github-status {
                display: flex;
                flex-flow: column wrap;

                i {
                    font-size: 1.4em;
                }

                div {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    margin-top: .8em;

                    span {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: .5em;
                        }
                    }
                }
            }
        }

        &.span-2 {
            grid-row-end: span 2;
        }

        &.span-3 {
            grid-row-end: span 3;
        }

        img {
            height: auto;
            width: 100%;
            border: none;
        }

        .img-replace {
            position: relative;
            padding: 2em .5em;
            width: 100%;
            font-weight: bold;

            span {
                position: absolute;
                top: .5em;
                left: -.85em;
                background-color: $color1;
                color: $color3;
                padding: 1em;
                word-break: break-word;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                border-bottom-left-radius: .2em;

                &:before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-bottom: $color1 solid .6em;
                    border-right: transparent solid .6em;
                    border-left: transparent solid .6em;
                    top: 94%;
                    left: .07em;
                    transform: rotate(45deg);
                    z-index: -1;
                }
            }
        }

        .content {
            padding: 2em 1em;
            min-height: 10em;

            .title {
                font-weight: 600;
                font-size: 1.2em;
                margin-bottom: .3em;
            }

            .text {
                word-break: break-word;
            }
        }

        .stack {
            display: flex;
            flex-flow: row wrap;
            border-top: 2px solid $color1;
            padding: 1em;

            .tech-badge {
                color: $color3;
                background: $color1;
                padding: .3em;
                display: inline-flex;
                margin: .2em .2em 0 0;
            }
        }
    }
}

.display {
    word-break: break-word;
    position: relative;
}

.display-1 {
    font-size: 8em;
}

.display-2 {
    font-size: 6em;
}

.display-3 {
    font-size: 4em;

    @include breakpoint(max-width 1024px) {
        font-size: 3.5em;
    }
}

.display-4 {
    font-size: 3em;

    @include breakpoint(max-width 1024px) {
        font-size: 2.5em;
    }
}

.title-line {

    &:after {
        position: relative;
        content: "";
        right: 0;
        width: auto;
        height: .04em;
        background-color: $color1;
        flex-grow: 1;
        margin-left: .4em;
    }
}

.arrow_box {
    position: absolute;
    right: 2.5em;
    background: #05386B;
    border: 3px solid #379683;
    display: none;
    color: $color3;
    padding: 1em;
    opacity: 0;
    animation: SlideInRight .5s cubic-bezier(0.83, 0, 0.17, 1) forwards;
}

.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(5, 56, 107, 0);
    border-left-color: #05386B;
    border-width: 8px;
    margin-top: -8px;
}

.arrow_box:before {
    border-color: rgba(55, 150, 131, 0);
    border-left-color: #379683;
    border-width: 12px;
    margin-top: -12px;
}

blockquote {
    position: relative;
    font-size: 1.8em;
    display: flex;
    flex-flow: row wrap;
    margin: 2em 1em;

    &:before {
        @extend .las;
        position: absolute;
        content: la-content($la-quote-left);
        left: 0;
        top: -1em;
        font-size: 2em;
    }

    &:after {
        @extend .las;
        position: absolute;
        content: la-content($la-quote-right);
        right: 0;
        bottom: -1em;
        font-size: 2em;
    }
}

form {
    .input-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        border: $color1 2px solid;
        padding: 1.5em;
        background: $color3;
        margin-bottom: .5em;
        transition: background .5s cubic-bezier(0.83, 0, 0.17, 1), color .5s cubic-bezier(0.83, 0, 0.17, 1);
        position: relative;

        label {
            font-weight: bold;
            margin-bottom: .2em
        }

        input, textarea {
            border: none;
            background: none;
            outline: none;
            color: $color1;

            &::placeholder {
                color: $color2;
            }
        }

        .validation-message {
            position: absolute;
            top: -2em;
            right: -1em;
            padding: .7em;
            border: 3px solid #379683;
            background: $color1;
            color: $color3;
            animation: fadeIn .5s ease-in-out forwards;

            &:after, &:before {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(5, 56, 107, 0);
                border-top-color: #05386B;
                border-width: 8px;
                margin-left: -8px;
            }

            &:before {
                border-color: rgba(55, 150, 131, 0);
                border-top-color: #379683;
                border-width: 12px;
                margin-left: -12px;
            }
        }

        &--active {
            background: $color1;
            color: $color3;

            input, textarea {
                color: $color5;

                &::placeholder {
                    color: $color5;
                }
            }
        }
    }

    .form-button {
        background: $color3;
        border: 2px solid $color1;
        color: $color1;
        padding: 1em 2em;
        font-weight: bold;
        transition: background .5s cubic-bezier(0.83, 0, 0.17, 1), color .5s cubic-bezier(0.83, 0, 0.17, 1);

        &.button-submit {
            display: flex;
            align-items: center;

            &:after {
                @extend .las;
                content: la-content($la-paper-plane);
                right: 0;
                top: 50%;
                font-size: 1.5em;
                margin-left: .3em;
            }
        }

        &:hover {
            background: $color1;
            color: $color3;
        }
    }
}

.status-message {
    display: none;
    justify-content: space-between;
    flex-flow: row;
    align-items: stretch;
    padding: 1em;
    color: white;
    background: $color1;
    border: 2px $color2 solid;
    position: fixed;
    top: 8em;
    left: 0;
    z-index: 4;
    transition: transform .5s cubic-bezier(.25,.8,.25,1);
    max-width: 40em;

    > i {
        margin-right: .3em;
    }

    &.slideToLeft {
        display: flex;
        transform: translateX(-100%);
    }

    &.slideFromLeft {
        display: flex;
        transform: translateX(0);
    }

    .content {
        display: flex;
        align-items: center;
        word-break: break-word;
    }

    button {
        background: none;
        border: none;
        color: $color3;
        margin-left: .3em;
    }
}

.side-controls {

    #social-line {
        position: fixed;
        top: 0;
        right: 2.5em;
        width: .3em;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        z-index: 4;

        @include breakpoint(max-width 850px) {
            display: none;
        }

        a {
            color: $color1;
            position: relative;
            display: flex;
            align-items: center;

            &:hover {
                .arrow_box {
                    display: inline-block;
                }
            }
        }

        i {
            font-size: 1.9em;
            margin: .2em 0;
        }

        &:before {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 8em;
            background: $color1;
            content: "";
        }
    }

    #go-up {
        position: fixed;
        right: 1em;
        bottom: 1em;
        background: $color1;
        border: 2px $color2 solid;
        color: $color3;
        padding: 1em;
        z-index: 3;
    }
}

main {
    a:not([data-exclude="true"]) {
        color: $color1;
        font-weight: bold;
        border-bottom: .2em solid $color1;
    }
}

.search-input-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    color: $color1;

    label {
        margin-bottom: .5em;
    }

    input {
        padding: .5em;
        border: none;
        background: none;
        font-size: 2em;
        color: $color1;

        &::placeholder {
            color: $color1;
        }
    }
}

.search-result-wrapper {
    display: flex;
    flex-flow: column wrap;

    .search-result {
        padding: 1em;
        margin: .5em 0;
        border: none;
        text-decoration: none;
        border: 1px solid $color1;
        transition: background .3s cubic-bezier(.25,.8,.25,1), color .3s cubic-bezier(.25,.8,.25,1);
        animation: fadeIn .3s cubic-bezier(.25,.8,.25,1) forwards;

        .title {
        }

        .description {
            font-weight: normal;
            margin: .3em 0 0;
        }


        &:hover {
            background: $color1;
            color: $color3;

            .title {
                border-bottom: 2px solid $color3;
            }
        }
    }
}
