.Navigation {
    display: flex;
    width: 100%;
    align-items: center;
    background: $color3;
    /*transition: box-shadow .5s cubic-bezier(0.83, 0, 0.17, 1), border .5s cubic-bezier(0.83, 0, 0.17, 1);*/
    transition: box-shadow .4s cubic-bezier(0.83, 0, 0.17, 1);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: .3em;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        background: $color1;
        transition: transform .4s cubic-bezier(0.83, 0, 0.17, 1) .4s;
    }

    &.scrolled {
        /*border-bottom: .3em solid $color1;*/
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);

        &:after {
            transform: scaleX(1);
        }
    }

    .nav {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background: transparent;
        padding: 2em 3.5em;
        align-items: stretch;

        & > a {
            display: flex;
            align-items: stretch;
            background: $color1;
            color: $color3;
            padding: .5em 2em;
            -webkit-box-shadow: 10px 10px 0px 0px rgba(55,150,131,1);
            -moz-box-shadow: 10px 10px 0px 0px rgba(55,150,131,1);
            box-shadow: 10px 10px 0px 0px rgba(55,150,131,1);

            .logo {
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 1.5em;
            }
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: auto;

            li {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0 .6em;
                font-weight: bold;

                button, a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color1;
                    background: none;
                    border: none;
                    font-weight: bold;
                    position: relative;

                    &.active {
                        &:after {
                            transform: scaleX(1);
                        }
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        top: 100%;
                        bottom: 0;
                        width: 80%;
                        height: .2em;
                        background: $color1;
                        margin: .7em auto 0;
                        transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
                        transform: scaleX(0);
                    }
                }

                &:hover {
                    button, a {
                        &:after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

        .nav-toggler {
            display: none;
            flex-flow: column wrap;
            align-items: center;
            margin-left: auto;
            height: 3em;
            width: 3.5em;
            border: none;
            background: none;

            span {
                height: .3em;
                background: $color1;
                border-radius: .3em;
            }

            span:nth-child(1) {
                width: 100%;
                margin-top: auto;
            }

            span:nth-child(2) {
                width: 50%;
                margin: .6em auto;
            }

            span:nth-child(3) {
                width: 100%;
                margin-bottom: auto;
            }
        }

        @include breakpoint(max-width 850px) {
            ul {
                display: none;
            }

            .nav-toggler {
                display: inline-flex;
            }
        }
    }
}
