body {

    @include breakpoint(max-width 1024px) {
        font-size: .9em;
    }

    @include breakpoint(max-width 800px) {
        font-size: .8em;
    }

    @include breakpoint(max-width 500px) {
        font-size: .7em;
    }
}
