/*$la-font-path: "../lib/line-awesome/dist/line-awesome/fonts";*/
$la-font-path: "../../lib/line-awesome/dist/line-awesome/fonts";

$color1: #05386B;
$color2: #379683;
$color3: #5CDB95;
$color4: #8EE4AF;
$color5: #EDF5E1;