@keyframes pulse {
    from {
        opacity: 1;
    }

    to {
        opacity: .3;
    }
}

@-webkit-keyframes pulse {
    from {
        opacity: 1;
    }

    to {
        opacity: .3;
    }
}

@-moz-keyframes pulse {
    from {
        opacity: 1;
    }

    to {
        opacity: .3;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes InfoFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes SlideInRight {
    from {
        opacity: 0;
        transform: translateX(-1em);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}
