.blog-post-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: .5em;

    .blog-post {
        display: flex;
        flex-flow: column;
        position: relative;
        justify-content: space-evenly;
        flex-basis: 48%;
        margin: 0 .5em 10.55em;
        transition: transform 0.3s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
        z-index: 1;

        &:hover {
            -webkit-box-shadow: 0px -18px 30px -20px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px -18px 30px -20px rgba(0,0,0,0.75);
            box-shadow: 0px -18px 30px -20px rgba(0,0,0,0.75);
            z-index: 2;

            img {
                transform: translateY(-.2em);
            }

            .content {
                transform: translateY(20%);
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            max-height: 15em;
            position: relative;
            z-index: 1;
            transition: transform 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover {
            }
        }

        .content {
            position: absolute;
            left: 0;
            top: 60%;
            z-index: 2;
            width: 100%;
            height: 15.5em;
            padding: 2em 1em;
            display: flex;
            flex-flow: column wrap;
            justify-content: start;
            align-items: start;
            transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
            background: $color1;
            color: white;

            .info {
                display: flex;
                flex-flow: row;
                align-items: center;
                font-size: .8em;

                .category {
                    padding: .2em 1.2em;
                    border: 2px solid $color2;
                    background: $color3;
                    color: $color1;
                    border-radius: 1em;
                    font-weight: bold;
                }

                .date {
                    position: relative;

                    &:before {
                        @extend .las;
                        content: la-content($la-calendar);
                        position: relative;
                        margin-right: 0.2em;
                        left: 0;
                    }
                }

                .category, .date {
                    margin: 0 .7em 0 0;
                }
            }

            .title {
                font-weight: bold;
                font-size: 1.1em;
                word-break: break-word;
                margin: .3em 0;
            }

            .description {
                @extend .truncate;
                color: lightgrey;
                word-break: break-word;
                font-size: .9em;
                margin-top: 0;
                max-width: 100%;
            }

            a {
                font-size: .8em;
                background: $color3;
                color: $color1;
                border: 2px solid $color2;
                padding: .4em .8em;
                margin-left: auto;
                margin-top: auto;
            }
        }

        @include breakpoint(max-width 900px) {
            flex-basis: 100%;

            .content {
                justify-content: space-evenly;

                .info, .date, .description {
                    font-size: 1em;
                }
            }
        }
    }
}
