.footer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 2em;
    background: $color1;
    color: $color3;
    min-height: 12em;
    position: relative;
    margin-top: 3em;
    -webkit-box-shadow: inset 0px 5px 0px 0px rgba(55,150,131,1);
    -moz-box-shadow: inset 0px 5px 0px 0px rgba(55,150,131,1);
    box-shadow: inset 0px 5px 0px 0px rgba(55,150,131,1);
    font-weight: 500;

    & > div {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: .5em;

        & > div {
            display: flex;
            flex-flow: column wrap;

            span {
                margin: .3em 0 0;
            }
        }

        .logo {
            margin-left: auto;
            font-weight: bolder;
            background: $color3;
            color: $color1;
            padding: .5em 2em;
            display: inline-flex;
            -webkit-box-shadow: 10px 10px 0px 0px rgba(55,150,131,1);
            -moz-box-shadow: 10px 10px 0px 0px rgba(55,150,131,1);
            box-shadow: 10px 10px 0px 0px rgba(55,150,131,1);
        }
    }

    @include breakpoint(max-width 1024px) {
        div {
            justify-content: center;
            flex-flow: column wrap;
            text-align: center;
            align-items: center;
            margin-top: 3em;

            .logo {
                margin-left: 0;
                margin-top: 1em;
            }
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 4em solid $color3;
        border-left: 4em solid transparent;
        border-right: 4em solid transparent;
        top: 0;
        z-index: 2;
    }

    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 6em solid $color2;
        border-left: 6em solid transparent;
        border-right: 6em solid transparent;
        top: 0;
        z-index: 1;
    }
}
