@page "/Blog"

<div class="wide-wrapper wide-wrapper--column">
    <h1 data-aos="custom-ani-right" class="display display-4">BLOG POSTS</h1>
    <div class="content">
        <BlogPosts></BlogPosts>
    </div>
</div>

@code {
    [Inject] public IJSRuntime JSRuntime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("BlazorHelpers.SetTitle", "Blog Posts");
    }
}

