@page "/Blog/Tags"
@page "/Blog/Tags/{Tag}"
@using HMZSoftwareBlazorWebAssembly.Models
@using HMZSoftwareBlazorWebAssembly.Services

<div class="wide-wrapper--row">
    @foreach (var item in TagsData)
    {
        <div class="tag-sec">
            <div class="title">
                @item
            </div>
            <div class="flex-column">
                @foreach (var post in Metadata)
                {
                    if (post.Tags.Contains(item))
                    {
                        <div class="post">
                            @post.Title
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string Tag { get; set; }

    [Inject] private IBlogPostProcessorService BlogPostProcessorService { get; set; }

    private List<YamlMetadata> Metadata { get; set; }
    private List<string> TagsData { get; set; }
    private bool IsDataLoading { get; set; } = true;

    protected async override Task OnInitializedAsync()
    {
        Metadata = await BlogPostProcessorService.ProcessPostsMetadataAsync();
        TagsData = await BlogPostProcessorService.ProcessTagsAsync();

        IsDataLoading = false;
    }
}
