@page "/"

<div class="wide-wrapper wide-wrapper--row">
    <h1 class="display display-3">
        Hamzi Alsheikh
        <br />
        Software Developer /
        <br />
        Mechatronics Engineer
    </h1>
</div>

<div class="wide-wrapper wide-wrapper--row">
    <button id="MoreArrow" class="m-auto" onclick="document.getElementById('Tech').scrollIntoView({behavior:'smooth'})"><i class="las la-chevron-circle-down la-4x"></i></button>
</div>

<div class="wide-wrapper" id="Tech">
    <h2 class="display-4">TECH & SKILLS</h2>
    <div class="content-block flex-column">
        <ul class="tech-tabs">
            <li>
                <button type="button" data-tab="lang">LANGUAGES AND SCRIPTING</button>
            </li>
            <li>
                <button type="button" data-tab="markup">MARKUP</button>
            </li>
            <li>
                <button type="button" data-tab="frame">FRAMEWORKS</button>
            </li>
            <li>
                <button type="button" data-tab="tools">TOOLS</button>
            </li>
            <li>
                <button type="button" data-tab="db">DATABASE SYSTEMS</button>
            </li>
            <li>
                <button type="button" data-tab="lib">LIBRARIES</button>
            </li>
            <li>
                <button type="button" data-tab="other">OTHER</button>
            </li>
        </ul>
        <div class="tech-content">
            <ul id="lang">
                <li>C#</li>
                <li>Javascript</li>
                <li>Powershell</li>
                <li>MATLAB</li>
            </ul>
            <ul id="markup">
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
            <ul id="frame">
                <li>.NET Framework</li>
                <li>.NET Core</li>
                <li>ASP.Net Core</li>
                <li>Entity Framework Core</li>
                <li>React</li>
                <li>WPF</li>
                <li>WCF</li>
                <li>Windows Forms</li>
            </ul>
            <ul id="tools">
                <li>Visual Studio</li>
                <li>Visual Studio Code</li>
                <li>MATLAB</li>
                <li>Postman</li>
                <li>Git</li>
                <li>JetBrains DotPeek</li>
                <li>JetBrains DotTrace</li>
            </ul>
            <ul id="db">
                <li>SQL Server</li>
                <li>PostgreSQL</li>
            </ul>
            <ul id="lib">
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul>
            <ul id="other">
                <li>English (Professional Working Proficiency)</li>
                <li>Arabic (Native Language)</li>
            </ul>
        </div>
    </div>
</div>