@page "/Site"

<div id="site-info" class="wide-wrapper wide-wrapper--row justify-content-between">
    <div class="flex-column">
        <h1 class="display-4">ABOUT THIS SITE:</h1>
        <ul id="site-info">
            <li>Designed and built from scratch by me using using <a href="https://www.blazor.net">Blazor Web Assembly</a></li>
            <li><a href="https://github.com/JulietaUla/Montserrat">Montserrat</a> is the main typeface used for this site in addition to the icon font <a href="https://github.com/icons8/line-awesome">Line Awesome</a> by Icons8.</li>
            <li>Tools and libraries include: <a href="https://github.com/jquery/jquery">jQuery</a> and <a href="https://sass-lang.com/">Sass</a></li>
            <li>Parsers include: <a href="https://github.com/lunet-io/markdig">Markdig</a> to process markdown files and <a href="https://github.com/aaubry/YamlDotNet">YamlDotNet</a> to parse blog posts' metadata.</li>
            <li>All the code for this site is open source and available on <a href="https://github.com/hmz777/HMZ-Software-Blazor-WebAssembly">GitHub</a> under the GNU General Public License v3.</li>
        </ul>
    </div>
    <div class="flex-row justify-content-center">
        <img src="/media/blazor.png" alt="Blazor" />
    </div>
</div>
