<div class="blog-post-list">
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/600">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/600">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/600">

    </BlogPost>
</div>

@code {

}
