@using HMZSoftwareBlazorWebAssembly.Models

<StatusMessage @ref="StatusMessage"></StatusMessage>

<EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" id="contact-form">
    <DataAnnotationsValidator />

    <div class="input-wrapper">
        <label for="Name">FULL NAME</label>
        <InputText type="text" @bind-Value="ContactModel.FullName" placeholder="Enter your name" />
        <ValidationMessage For="@(() => ContactModel.FullName)" />
    </div>
    <div class="input-wrapper">
        <label for="Email">EMAIL</label>
        <InputText type="email" @bind-Value="ContactModel.Email" placeholder="Enter your email" />
        <ValidationMessage For="@(() => ContactModel.Email)" />
    </div>
    <div class="input-wrapper">
        <label for="Subject">SUBJECT</label>
        <InputText type="text" @bind-Value="ContactModel.Subject" placeholder="Enter message subject" />
        <ValidationMessage For="@(() => ContactModel.Subject)" />
    </div>
    <div class="input-wrapper">
        <label for="Message">MESSAGE</label>
        <InputTextArea @bind-Value="ContactModel.Message" rows="5" placeholder="Enter your message"></InputTextArea>
        <ValidationMessage For="@(() => ContactModel.Message)" />
    </div>
    <button class="form-button button-submit" type="submit">SUBMIT</button>
</EditForm>

@code {

    private ContactModel ContactModel { get; set; } = new ContactModel();
    private StatusMessage StatusMessage { get; set; }
    private EditContext EditContext { get; set; }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(ContactModel);
    }

    private void HandleValidSubmit()
    {
        ContactModel = new ContactModel();
        EditContext = new EditContext(ContactModel);
        StatusMessage.Message = "Message sent successfully!";
        StatusMessage.MessageStatus = MessageStatus.Success;
        StatusMessage.Show();
    }

    private void HandleInvalidSubmit()
    {
        StatusMessage.Message = "Invalid message! please correct the errors in the form.";
        StatusMessage.MessageStatus = MessageStatus.Error;
        StatusMessage.Show();
    }
}
