@inherits LayoutComponentBase

<header class="navbar">
    <Navbar></Navbar>
    <div class="wide-wrapper wide-wrapper--row">
        <h1 class="display display-3">
            Hamzi Alsheikh
            <br />
            Software Developer /
            <br />
            Mechatronics Engineer
        </h1>
    </div>
</header>

<div class="side-nav">
    <SideNav></SideNav>
</div>

<main class="main">
    <div id="social-line">
        <a href="https://stackoverflow.com/users/6843077/hmz" target="_blank"><i class="lab la-stack-overflow"></i><div class="arrow_box">StackOverflow</div></a>
        <a href="https://github.com/hmz777" target="_blank"><i class="lab la-github"></i><div class="arrow_box">GitHub</div></a>
        <a href="https://www.linkedin.com/in/hamzialsheikh/" target="_blank"><i class="lab la-linkedin"></i><div class="arrow_box">LinkedIn</div></a>
        <a href="https://www.facebook.com/Hamzi.Alsheikh/" target="_blank"><i class="lab la-facebook"></i><div class="arrow_box">Facebook</div></a>
        <a href="https://www.instagram.com/hamzi_alsheikh/" target="_blank"><i class="lab la-instagram"></i><div class="arrow_box">Instagram</div></a>
        <a href="mailto:hamzi_alsheikh@hotmail.com" target="_blank"><i class="las la-envelope"></i><div class="arrow_box">Email</div></a>
    </div>

    @Body
</main>

<SiteFooter></SiteFooter>