@inherits LayoutComponentBase

<header class="navbar">
    <Navbar></Navbar>
</header>

<div class="side-nav">
    <SideNav></SideNav>
</div>

<main class="main">
    @Body
</main>

<footer class="footer">
    <SiteFooter></SiteFooter>
</footer>