@inherits LayoutComponentBase

<header class="navbar">
    <Navbar></Navbar>
    <div class="wide-wrapper wide-wrapper--row">
        <h1 class="display display-3">
            Hamzi Alsheikh
            <br />
            Software Developer /
            <br />
            Mechatronics Engineer
        </h1>
    </div>
</header>

<div class="side-nav">
    <SideNav></SideNav>
</div>

<main class="main">
    @Body
</main>

@*<SiteFooter></SiteFooter>*@