<div class="nav">
    <NavLink href="" Match="NavLinkMatch.All"><img class="logo" src="/media/Logo.svg" alt="Site logo" /></NavLink>
    <ul>
        <li><NavLink href="Tech">TECH & SKILLS</NavLink></li>
        <li><NavLink href="Work">WORK</NavLink></li>
        <li><NavLink href="About">ABOUT</NavLink></li>
        <li><NavLink href="Blog">BLOG</NavLink></li>
    </ul>
</div>

@code {

}
