<div class="nav">
    <NavLink href="" Match="NavLinkMatch.All"><span class="logo">HMZ</span></NavLink>
    <ul>
        <li><button type="button" onclick="document.getElementById('Tech').scrollIntoView({behavior:'smooth'})">TECH & SKILLS</button></li>
        <li><button type="button" onclick="document.getElementById('Work').scrollIntoView({behavior:'smooth'})">WORK</button></li>
        <li><button type="button" onclick="document.getElementById('About').scrollIntoView({behavior:'smooth'})">ABOUT</button></li>
        <li><button type="button" onclick="document.getElementById('Contact').scrollIntoView({behavior:'smooth'})">CONTACT</button></li>
        <li><NavLink href="Blog">BLOG</NavLink></li>
    </ul>
    <button type="button" class="nav-toggler" @onclick="ShowSideNav">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>
<div class="side-nav">
    <SideNav @ref="SideNav"></SideNav>
</div>

@code {

    private SideNav SideNav { get; set; }

    private void ShowSideNav()
    {
        SideNav.Show();
    }

}
